<li class="tag-item" id="tag-{{ tag.id }}">
  <a
    href="#"
    class="tag-name-link"
    hx-get="/projects/{{ project.id }}/tags/{{ tag.id }}/items"
    hx-target="#tag-filter-results"
    hx-swap="innerHTML"
    onclick="return false;"
    >{{ tag.name }}
  </a>
  <button
    type="button"
    class="secondary outline"
    hx-delete="/projects/{{ project.id }}/tags/{{ tag.id }}"
    hx-target="closest .tag-item"
    hx-swap="outerHTML"
    hx-confirm='Delete tag "{{ tag.name }}"? It will be removed from all notes.'
  >
    Delete
  </button>
</li>
